services:
  mongodb:
    image: mongo:7
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    networks:
      - banking-network

volumes:
  mongodb_data:

networks:
  banking-network:
    driver: bridge
