name: Build and Test
run-name: Build and Test - [${{ github.actor }} - #${{ github.run_number }}]
permissions:
  contents: read

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

env:
  MONGO_URI: mongodb://localhost:27017
  MONGO_DB: test_db
  OPENAI_API_KEY: test

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:7
        ports:
          - 27017:27017

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: requirements.txt

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: pytest -v
        env:
          PYTHONPATH: ${{ github.workspace }}
